# Environment variables - NEVER commit these!
.env
.env.prod
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb

# Testing
.coverage
.pytest_cache/
